.payment-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    gap: 20px;
}

.pay-button {
    width: fit-content;
    align-self: center;
    padding: 10px 20px;
    background-color: green
}